*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vh;
    height: 100vh;
    background-image: url('./back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
}

.container{
    position: absolute;
}

/* button{
    border-radius: 20px;
    font-size:35px ;
    padding: 20px;
    position: absolute;
    transform: translate(-50%,150%);
} */

.birds{ 
    width: 150px;
    height: 150px;
    position: relative ;
    left: 50%;
    /* transform: translate(-50%,250%); */
    transition: all 1s;
    transform: translate(-30%, -80%);


}
.birds1{ 
    width: 150px;
    height: 150px;
    position: relative ;
    /* transform: translate(-50%,250%); */
    transition: all 2s;
    transform: translate(-50%, -50%);

}
.birds2{ 
    width: 150px;
    height: 150px;
    position: relative ;
    /* transform: translate(-50%,250%); */
    transition: all 2s;
    transform: translateX(-40%);
}
.birds3{ 
    width: 150px;
    height: 150px;
    position: relative ;
    /* transform: translate(-50%,250%); */
    transition: all 2s;
    right: 50%;
    transform: translateX(-20%);

}
.birds4{ 
    width: 150px;
    height: 150px;
    position: relative ;
    /* transform: translate(-50%,250%); */
    transition: all 1s;
    top: 40%;
    transform: translateX(-30%) translateY(-40%);
}
.birds5{ 
    width: 150px;
    height: 150px;
    position: relative ;
    /* transform: translate(-50%,250%); */
    transition: all 0.5s;
    transform: translateX(-20%);
}
.birds6{ 
    width: 150px;
    height: 150px;
    position: relative ;
    right: 30%;
    /* transform: translate(-50%,250%); */
    transition: all 3s;
    transform: translateX(-70%) translateY(10%);

}
.birds7{ 
    width: 150px;
    height: 150px;
    position: relative ;
    top: 20%;
    /* transform: translate(-50%,250%); */
    transition: all 3s;
    transform: translateX(-70%) translateY(-40%);


}
.birds8{ 
    width: 150px;
    height: 150px;
    position: relative ;
    top: 20%;
    /* transform: translate(-50%,250%); */
    transition: all 1s;
    transform: translateX(-70%) translateY(70%);


}
.birds9{ 
    width: 150px;
    height: 150px;
    position: relative ;
    top: 20%;
    /* transform: translate(-50%,250%); */
    transition: all 0.5s;
    transform: translateX(-70%) translateY(-70%);


}
.birds10{ 
    width: 150px;
    height: 150px;
    position: relative ;
    top: 20%;
    /* transform: translate(-50%,250%); */
    transition: all 1s;
    transform: translateX(-70%) translateY(-23%);


}
.birds11{ 
    width: 150px;
    height: 150px;
    position: relative ;
    top: 20%;
    /* transform: translate(-50%,250%); */
    transition: all 0.7s;
    transform: translateX(-70%) translateY(-70%);


}
.birds12{ 
    width: 150px;
    height: 150px;
    position: relative ;
    top: 20%;
    /* transform: translate(-50%,250%); */
    transition: all 1s;
    transform: translateX(-70%) translateY(-70%);


}
.birds13{ 
    width: 150px;
    height: 150px;
    position: relative ;
    top: 20%;
    /* transform: translate(-50%,250%); */
    transition: all 2s;
    transform: translateX(-70%) translateY(-20%);


}

p.img{
    display: inline;   
    display: inline-block;
}

.cursor,.blood{
    position: absolute;
    width: 150px;
    height: 150px;
    /* transform : translateX(-50%,-50%); */
    position: fixed;
    transform: translate(calc(-70% + 30px), -44%);
}
.test {
    color: white;
    position : absolute ;
    justify-content: space-between;
    left : 308 px 
    margin : 15 px 
    font-size: 24px;
    font-weight: bold;
    border: 5px solid green;
    padding: 12px;
    top : 13px
    box-sizing: border-box;
    box-radius:114px ;
    align-items: center;
  }
  
   .counter {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid green;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
  } 
  



